<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headerCommon :: head">
  <meta charset="UTF-8">
  <title>Notification MConnect</title>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
  <header th:replace="fragments/mainHeaderCommon::mainHeader" class="main-header">
  </header>
  <aside class="main-sidebar">
    <section class="sidebar" th:replace="fragments/menuCommon::menu"></section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="col-8 p-15">
                <h3 class="card-title" th:utext="${pageTitle}"></h3>
                <h5 class="card-subtitle"><a th:href="@{'/dashboard'}">Dashboard</a> /
                  <span th:utext="${pageTitle}"></span> /
                  <span th:utext="${pageSubTitle}"></span>
                </h5>
              </div>
            </div>
          </div>
          <form th:action="@{/admin/teacher/add}" method="POST" th:object="${holder}" role="form">
            <p class="alert alert-error"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>
            <div class="row">
              <div class="col-md-8">
                <div class="box">
                  <div class="box-body">
                    <div class="box-header">
                      <div class="col-md-12">
                        <h3 class="card-title">New Teachers</h3>
                      </div>
                    </div>
                    <div class="box-body">
                      <div class="col-md-12">
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                          <input type="text"
                                 id="firstName"
                                 name="firstname"
                                 class="form-control"
                                 th:field="*{firstName}"
                                 autofocus="autofocus"
                                 placeholder="First Name"/>
                        </div>
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                          <input type="text"
                                 id="lastName"
                                 name="lastname"
                                 class="form-control"
                                 th:field="*{lastName}"
                                 autofocus="autofocus"
                                 placeholder="Last Name"/>
                        </div>

                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                          <input type="email"
                                 id="email"
                                 name="email"
                                 class="form-control"
                                 th:field="*{email}"
                                 autofocus="autofocus"
                                 placeholder="E-mail"/>
                        </div>
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                          <input type="email"
                                 id="confirmEmail"
                                 name="confirmEmail"
                                 class="form-control"
                                 th:field="*{confirmEmail}"
                                 autofocus="autofocus"
                                 placeholder="Confirm E-mail"/>
                        </div>

                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                          <input type="password"
                                 id="password"
                                 name="password"
                                 class="form-control"
                                 th:field="*{password}"
                                 placeholder="Password"/>
                        </div>
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                          <input type="password"
                                 id="confirmPassword"
                                 name="confirmPassword"
                                 class="form-control"
                                 th:field="*{confirmPassword}"
                                 placeholder="Confirm Password"/>
                        </div>
                        <div class="form-group col-md-12">
                          <label class="form-label">Address</label>
                          <textarea class="form-control address" id="address" name="address"
                                    placeholder="Teacher Address"
                                    rows="3" required maxlength="113"> </textarea>
                          <p class="character-count"></p>
                        </div>
                        <div class="box-footer">
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                          </div>
                        </div>
                    </div>
                  </div>
                  <!-- /.col -->
                </div>

              </div>
            </div>
          </form>
          <!-- /.col -->
        </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:replace="fragments/footerCommon::footer" th:remove="tag"></div>
</div>
</body>

</html>