<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Header Common</title>
</head>
<body>
    <header th:fragment="mainHeader" class="main-header">

        <!-- Logo -->
        <a th:href="@{/dashboard}" href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>P</b>SC</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Portal</b> SC</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img th:src="@{'/assets/img/defaultprofile.png'}" src="../../static/assets/img/defaultprofile.png" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs" th:utext="${firstName}"></span>
<!--                            <span class="hidden-xs" th:utext="Admin"></span>-->
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img th:src="@{'/assets/img/defaultprofile.png'}" src="../../static/assets/img/defaultprofile.png" class="user-image" alt="User Image">
                                <p>
                                    <span th:utext="${firstName}" th:remove="tag"></span>
<!--                                    <span th:utext="Admin" th:remove="tag"></span>-->
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{/changePassword}" href="#" class="btn btn-default btn-flat">Password</a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/logout}" href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
</body>
</html>